<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="C:\Users\vivek\OneDrive\Desktop\download.jpg" class="card-img-top" alt="Medicine">
        <div class="card-body">
          <h5 class="card-title"><a href='#'>Medicine</a></h5>
          <p class="card-text">Please click to buy here</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="Injection">
        <div class="card-body">
          <h5 class="card-title"><a href="#">Injection</a></h5>
          <p class="card-text">Please click to buy here.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="Tonic">
        <div class="card-body">
          <h5 class="card-title"><a href="#">Tonic</a></h5>
          <p class="card-text">Please click here to buy.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>